body {
  margin: 0;
  font-family: roboto mono;
  font-weight: 300;
  background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
  padding: 100px;
}

.header {
  text-align: center;
  background-image: url("./travel.jpeg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  display: flex;
  width: 100%;
}

.row {
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  min-height: 400px;
  z-index: 2;
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 50px;
  margin-bottom: 0;
  display: inline-block;
}

.row img {
  border: 5px solid #ffffff;
  margin-top: 50px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

h1 {
  color: #ffffff;
  font-family: roboto;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 80px;
  line-height: 1.2em;
}

h2 {
  font-family: roboto;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:36px;
}

.about-me {
  margin-top: -50px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.4em;
}

.title {
  font-weight: bold;
}

.container {
  background-color: #ffffff;
  padding-right: 75px;
  padding-left: 75px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 0;
  display:flex;
  flex-direction: column;
}
